@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <ul>
        <li>Email: @HttpContext.Session.GetString("Email")</li>
        <li>Full Name: @HttpContext.Session.GetString("FullName")</li>
        <li>Gender: @HttpContext.Session.GetString("Gender")</li>
        <li>Phone Number: @HttpContext.Session.GetString("PhoneNumber")</li>
        <li>Delivery Address: @HttpContext.Session.GetString("DeliveryAddress")</li>
        <li>About Me: @HttpContext.Session.GetString("AboutMe")</li>
        <li>Credit Card: @HttpContext.Session.GetString("CreditCard")</li>
    </ul>
</div>
